<div class="container-flex">

    <div class="type2">Sobre Nosotros</div>
    <div class="text2">Equipo 3 somos un grupo de estudiantes que tiene como finalidad el desarrollar software que nos permita obtener una retroalimentación 
      para seguir creciendo en el campo profesional teniendo siempre en mente aprender a utilizar nuevas tecnologías  y valorar la importancia del trabajo en equipo.
    </div>

    <div class="image">
        <figure>
            <p><img class=scaled src="../../../assets/img/3.png">
            <figcaption>Enriquez Gilberto</figcaption>
          </figure>

          <figure>
            <p><img class=scaled src="../../../assets/img/2.jpg">
            <figcaption>Escobedo Nomar</figcaption>
          </figure>

          <figure>
            <p><img class=scaled src="../../../assets/img/1.jpg">
            <figcaption>Jacobo Luis</figcaption>  

          </figure>

          <figure>
            <p><img class=scaled src="../../../assets/img/4.jpg">
            <figcaption>Muñoz Jacob</figcaption>
          </figure>

          <figure>
            <p><img class=scaled src="../../../assets/img/5.jpg">
            <figcaption>Pantoja Daniel</figcaption>
          </figure>
        
        <!-- <img src="../../../assets/img/1.jpg"alt="">
        <img src="../../../assets/img/2.jpg"alt="">
        <img src="../../../assets/img/3.png"alt="">
        <img src="../../../assets/img/4.jpg"alt="">
        <img src="../../../assets/img/5.jpg"alt=""> -->
    </div>
</div>

