/* Importar fuentes*/
@font-face
{
  font-family: "ork";
  src: url("./assets/css/Fonts/orkney.otf"); 
}

@font-face
{
  font-family: "poly";
  src: url("./assets/css/Fonts/POLYA.otf"); 
}

@font-face
{
  font-family: "caviar";
  src: url("./assets/css/Fonts/chivo.ttf"); 
}

/* Estitlos Generales */
body
{
    margin: auto 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.clearfix
{
    float: none;
    clear: both;
}

/* Lado Izquierdo */
.left
{
    background-color: #383838;    
    width: 50%;
    height: 100vh;
    overflow: auto;
    background-size: cover;
    margin: auto 0px;
 }

.mynav
{
   background-color: #383838;
   box-shadow: none;
}

.logo
 {
  float: left;
  margin-top: 10px;
}
 
.ul li
{
display: inline-block;
}

.boton
{
    color: white;
}

.letters
{    
  font-family: "poly";
  color: white;
  font-size: 260%;
  margin-top: 0px;
  text-transform: uppercase;
}


/* Body Lado Izquierdo */

.block
{
  float: left;
}
.type
{
  color: #26A69A;
  font-size: larger;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
  float: left;
  margin-left: 1.5rem;
}

.text
{
  color: whitesmoke;
  font-size: 1vw;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  margin-top: 0px;
  margin-left: 1.5rem;
  width: 90%;
  text-align: justify;
}



/* Lado Derecho */
.right
{
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
 }


.mynavbar
{
     background-color: white;
     box-shadow: none;
     line-height: 40px;
 }

nav ul 
  {
    float: right;
  }
  
nav ul li 
{
    display: inline-block;
}
  
nav ul li a 
{
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    
}
    
nav ul li a:hover 
{
    color: black;
    border-bottom: solid 2px black;
}

nav ul li a:focus 
{
    color: black;
    border-bottom: solid 2px black;
}



  /* Body Lado Izquierdo */

.titulo
{
    font-family: "ork";
    font-size: 5vh;
    position: absolute;
    margin-top: 15px;
    top: 6%;
    text-align: center;
    width: 100%;
}

.inputrow
{
  width: 70%;
}


  
@media (max-width: 600px) 
{
    .container-flex
    {
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column;
    }

    .left, .right{
      width: 100%;
    }
    
    .left{
      margin-top: 380px;
      overflow: hidden;
      height: 100%;
      width: 100%;
      padding-bottom: 20px;
    }

    .right{
      
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
    
    .block
    {
      float: left;
      
    }
    
    .titulo
    {
      font-size: large;
      position: absolute;
      top: unset;
      left: unset;
      text-align: center;    
    }

    .type
    {
      color: #26A69A;
      float: none;
      margin-left: 1.2rem;
      margin-bottom: 20px;
    }

    .text
    {
      font-size: small;
      margin-left: 1.2rem;
      margin-bottom: 20px;
    }
}  
  


 
