/* Importar fuentes*/
@font-face
{
  font-family: "ork";
  src: url("./assets/css/Fonts/orkney.otf"); 
}

@font-face
{
  font-family: "poly";
  src: url("./assets/css/Fonts/POLYA.otf"); 
}

@font-face
{
  font-family: "caviar";
  src: url("./assets/css/Fonts/chivo.ttf"); 
}

/* Estitlos Generales */

body
{
    margin: auto 0px;
}

.clearfix
{
    float: none;
    clear: both;
}

/* Lado Izquierdo */
.left
{
    background-color: #383838;    
    width: 50%;
    position: absolute;
    height: 100%;
    background-size: cover;
    margin: auto 0px;
 }

.mynav
{
   background-color: #383838;
   box-shadow: none;
}

.logo
 {
  float: left;
  margin-top: 10px;
}
 
.ul li
{
display: inline-block;
}

.boton
{
    color: white;
}

.letters
{    
  font-family: "poly";
  color: white;
  font-size: 260%;
  margin-top: 0px;
  text-transform: uppercase;
}


/* Body Lado Izquierdo */

.block
{
  float: left;
}
.type
{
  color: #26A69A;
  font-size: larger;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
  float: left;
  margin-left: 40px;
}

.text
{
  color: whitesmoke;
  font-size: larger;
  font-weight: 800;
  text-transform: uppercase;
  float: left;
  margin-top: 0px;
  width: 90%;
  margin-left: 40px;
  text-align: justify;
}



/* Lado Derecho */
.right
{
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
 }


.mynavbar
{
     background-color: white;
     box-shadow: none;
     line-height: 40px;
 }

nav ul 
  {
    float: right;
  }
  
nav ul li 
{
    display: inline-block;
}
  
nav ul li a 
{
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    
}
    
nav ul li a:hover 
{
    color: black;
    border-bottom: solid 2px black;
}

nav ul li a:focus 
{
    color: black;
    border-bottom: solid 2px black;
}



  /* Body Lado Izquierdo */

.titulo
{
    font-family: "ork";
    font-size: xx-large;
    position: absolute;
    top: 6%;
    left: 20%;
    text-align: center;
}
  
@media (max-width: 600px) 
{
    .titulo
    {
      font-size: large;
      position: absolute;
      top: 5%;
      left: 10%;
      text-align: center;    
    }
}  
  


 
