<div class="container-flex">
  <!--   Lado Izquierdo-->  
  <div class="left">
    <nav class="mynav">
      <a class="boton" [routerLink]="['']" [routerLinkActive]="['actived']"> 
        <ul class="logo">
          <li><img class="icono" src="./../assets/img/logo2.png" width="50" height="50"></li>
          <li><strong class="letters">EQUIPO 3</strong></li>
        </ul>
      </a> 
    </nav>

    <div class="block">

    <div class="type">Triángulo equilátero</div>
    <div class="text">El triángulo equilátero es el triángulo que tiene sus tres lados iguales, 
      este tipo de triángulos tienen el mismo ángulo en sus esquinas, y sus lados son de la misma distancia. 
      Este tipo de triángulos entra en la sub-clasificación de “Acutángulos”, pues sus ángulos son agudos
    </div>

      <div class="type">Triángulo Isóceles</div>
    <div class="text">El triángulo isóceles  cuenta con dos lados iguales y un lado más reducido o grande en 
      el lado desigual. Por esto se pueden encontrar en estos triángulos de la clasificación de “obtusángulos”.</div>

    <div class="type">Triángulo Escaleno</div>
    <div class="text">En estos triángulos, ninguno de los lados es igual, pueden ser simétricos o asimétricos y 
      forman parte de los triángulos clasificados como “Obtusángulos” o “Acutángulos”, y en el triángulo escaleno, 
      se pueden encontrar los triángulos rectángulos que cuentan con cateto e hipotenusa.</div>

  </div>
  
  </div>

  <!-- Lado Derecho -->
  <div class="right">
    <nav class="mynavbar">
      <ul>
        <li><a [routerLink]="['']" [routerLinkActive]="['actived']">Home</a></li>
        <li><a [routerLink]="['/sobre']" [routerLinkActive]="['actived']">About US</a></li>
      </ul>
    </nav>

    <section id="content">
      <router-outlet></router-outlet>
    </section>
    

  </div>
</div>



